build/CMakeLists.txt.user
build/CMakeCache.txt
build/CMakeFiles
build/CMakeScripts
build/Testing
build/.cmake*
build/CMakeFiles*
Makefile
build/vgcore*
build/cmake_install.cmake
build/install_manifest.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/_deps
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.vscode
script.sh
out.txt
test.csv
test2.csv